.box {
    width: 100px;
    height: 100px;
    position: absolute;
  }
  
  .red {
    background-color: red;
    top: 50px;
    left: 50px;
    z-index: 1; /* Higher z-index, top layer */
  }
  
  .green {
    background-color: green;
    top: 50px;
    left: 50px;
    z-index: 1; /* Middle layer */
  }
  
  .blue {
    background-color: blue;
    top: 50px;
    left: 50px;
    z-index: 1; /* Lower z-index, bottom layer */
  }
  